h1{color: hotpink;}
img{width: 400px;}
#thirdDiv{height: 600px; width: 500px; 
          background-color: chocolate; 
          padding: 50px;
          border: 5px;
          border: solid;
          border-color: black;}
#spanId{font-size: 18px;}